
/************************************************
HOJA DE ESTILO COMÚN PARA CADA INDÍCE DE RELACIÓN
************************************************/
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

#navbar-example2 {
    width: auto;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-decoration: underline solid 1px;
    transition: .3s;
}

.nav-item:hover {
    transition: .3s;
}

#go-up-btn {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px 195px 25px 10px;
    padding: 10px;
    border: solid 2px black;
}

#go-up-btn:hover {
    transition: .3s;
}

#go-up-btn img {
    width: 25.5px;
}

@media screen and (max-width: 1000px) {

    #go-up-btn {
        margin-right: 10px;
    }
    
}