#banner {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url(https://www.digitalocean.com/api/static-content/v1/images?src=https%3A%2F%2Fcommunity-cdn-digitalocean-com.global.ssl.fastly.net%2FpkgrFaQAVpPLyV1hU5hQoiCw&width=1920);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5rem;
}

#content {
    width: auto;
    padding-top: 5rem;
    text-align: center;
    color: black;
}

#content h1 {
    font-size: 65px;
    text-shadow: 0 0 20px #6780c1;
    color: white;
}

    #content h1:hover {
        font-style: italic;
        transition: 1;
    }

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: linear-gradient(#5e76ad, #28447c);
}

#blue-btn {
    border-color: #4c53ac;
    color: #4c53ac;
}

    #blue-btn:hover {
        background-color: #4c53ac;
        color: white;
    }

#purple-btn {
    border-color: #7107F3;
    color: #7107F3;
}

    #purple-btn:hover {
        background-color: #7107F3;
        color: white;
    }

#green-btn {
    border-color: #63ca5f;
    color: #63ca5f;
}

    #green-btn:hover {
        background-color: #63ca5f;
        color: white;
    }

.card {
    box-shadow: none;
    
}

    .card:hover {
        box-shadow: 0 0 20.5px #aaaaaa;
        transform: scale(1.05);
        transition: .3s;
    }

#footer {
    width: auto;
    background-color: #28447c;
}